*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --bg-coler: #0f2a41;
    --outer-shadow: 3px 3px 3px #fff, -3px -3px -3px #ceced1;
    --inner-shadow: inet 3px 3px 3px #fff, inset -3px -3px -3px #ceced1;
    --color: rgb(192, 29, 70);
}
body  {
    background-image: url("image/image6.jpg");
  }
.message{
    margin: 0 auto;
    margin-top: 4rem;
    background-color: #000000;
    max-width: 1000px;
    color: olive;
    text-transform: uppercase;
    border-radius: 5px;
}
.message i{
    font-size: 1rem;
    cursor: pointer;
    float: right;
    cursor: var(--color);
}
header{
    background-color: #0f2a41;
    position: sticky;
    padding: 1rem;
    box-shadow: var(--outer-shadow);
    z-index: 100;
}
.flex{
    display: flex;
    align-items: center;
    max-width: 2000px;
    margin: 0 auto;
}
.logo{
    text-transform: uppercase;
    font-weight: bold;
    color: olive;
    margin-right: 0auto;
}
.navbar{
    margin-left:auto;
}
a{
    color: olive;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 18px;
    margin: 0.5rem;
}
.cart span{
    position:absolute;
    height: 25px;
    width: 25px;
    line-height: 25px;
    text-align: center;
    top: 22%;
    font-size: 12px;
    margin: .2rem;
    margin-left: -.3rem;
    border-radius: 60%;
    background-color: olive;
    color: #fff;
}
h3{
    text-transform: uppercase;
    margin: 1rem auto;
    color: olive;
    text-align: center;
}
.form{
    position: absolute;
    top:30%;
    left: 20%;
    box-shadow: var(--inner-shadow);
    width: 50%;
    padding: 1rem;
    border-radius: 10px;
    background-color: var(--bg-coler);
}
input,
select{
    width: 100%;
    box-shadow: var(--outer-shadow);
    background-color: #e0e9f0;
    border-radius: 5px;
    border: none;
    padding: 1rem;
    margin: .5rem 0;
    outline: none;
    color:  olive;
}
input:hover{
    box-shadow: var(--inner-shadow); 
}
.btn,
.option-btn,
.delete-btn{
    cursor: pointer;
    text-transform: uppercase;
    box-shadow: var(--outer-shadow);
    color: olive;
    border: none;
    outline: none;
    background-color: #ffffff;
    cursor: pointer;
}
.delete-btn,
.option-btn{
    font-size: 14px;
    padding: .5rem 1rem;
    border-radius: 5px;
    color: red;
    font-weight: bold;
}
.option-btn{
    color: olive;
}
a:hover{
    color: #0d0d35;
}
.add{
    height: 50px;
    width: 50px;
    background-color: #0f2a41;
    float: right;
    box-shadow: var(--outer-shadow);
    padding: 1rem;
    margin: 1rem;
    border-radius: 50%;
    text-align: center;
}
.show-product{
    margin: 0 auto;
}
.show-product table{
    background-color: #e0e9f0;
    max-width: 1000px;
    width: 100%;
    margin: 4rem auto;
    padding: 2rem;
    text-align: center;
    border-radius: 15px;
}
th{
    box-shadow: var(--outer-shadow);
    color: olive;
    text-transform: uppercase;
    padding: .5rem 0;
    margin: 1.5rem 0;
}
.show-product table tr{
    box-shadow: var(--inner-shadow);
}
.show-product table td{
    padding: 1rem;
    font-size: 1rem;
    text-transform: capitalize;
    margin: .5rem 0;
}
.show-product table img{
    height: 100px;
    width: 100px;
    border-radius: 10%;
    box-shadow: var(--outer-shadow);
}
.empty,
.message{
    max-width: 1000px;
    text-align: center;
    text-transform: uppercase;
    color: olive;
    background-color: #000;
    word-spacing: 3px;
    margin: 2rem auto;
    pad: 1rem 0;
    border-radius: 5px;
}
.edit-form{
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    background-color: var(--bg-coler);
    background-repeat: no-repeat;
    padding: 2rem;
    display: none;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    z-index: 1100;
}
.edit-form form{
    padding: 3rem;
    width: 50rem;
    border-radius: 10px;
    text-align: center;
    margin: 0 auto;
    margin-top: 4rem;
    box-shadow: var(--outer-shadow);
}
.edit-form form img{
    width: 150px;
    border-radius: 10%;
}
.update,
.edit-form .cancle{
    width: 24%;
    margin-left: .3rem;
}
h1{ 
    width: 25%;
    background-color: #fff;
    font-size: 30px;
    text-align: center;
    margin: 2rem auto;
    text-transform: uppercase;
    color: #000;
}
.product-item-container{
    box-shadow: var(--inner-shadow);
    background-color: #e0e9f0;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem,1fr));
}
.product-item-container img{
    width: 150px;
    height: 150px;
    padding: .5rem;
    box-shadow: var(--outer-shadow);
    margin:  1rem 0;
    border-radius: 10%;
}
.product-item-container .box{
    box-shadow: var(--outer-shadow);
    margin: .4rem;
    text-align: center;
}
.product-item-container .btn{
    width: 150px;
    margin: .5rem auto;
}
.cart-container table{
    background-color: #e0e9f0;
    width: 70vw;
    margin: 0 auto;
    text-align: center;
    
}
.cart-container table tr{
    border-style: solid;
    border-width: 2px;
    padding: 1rem 0;
    box-shadow: var(--outer-shadow);
}
.cart-container table tr td{
    margin: 1rem;
    border-bottom: 1px solid #333;
    font-size: 1rem;
    color: #555;
}
.cart-container input[type='name']{
    padding: .5rem 1rem;
    width: 5rem;
}
.cart-container input[type='submit']{
    background-color: #fff;
    width: 80px;
    border-radius: 5px;
    padding: .5rem;
    cursor: pointer;
    color: orange;
    text-transform: uppercase;
}
.cart-container .delete-btn
.cart-container .option-btn{
    font-size: 15px;
    padding: 5rem 1rem;
    border-radius: 5px;
}
.cart-container .delete-btn:hover{
    box-shadow: var(--inner-shadow);
}
.table-bottom{
    padding: 1rem 2rem;
}
.table-bottom tr td{
    border-bottom: none;
}
.cart-container img{
    width: 100px;
    border-radius: 10%;
    padding: .5rem;
    box-shadow: var(--inner-shadow);
}
.cart-container .checkout-btn{
    text-align: center;
    margin-top: 2rem;
}
.checkout-btn a{
    width: auto;
    margin: 0 auto;
    background-color: olive;
    color: #fff;
    border-radius: 5px;
    padding: .5rem 2rem;
}
.checkout-btn a.disabled{
    pointer-events: none;
    opacity: .5;
    user-select: none;
    background-color: red;
}
h4{
    font-size: 20px;
    text-align: center;
    margin: 2rem auto;
    text-transform: uppercase;
    color: #555;
}
.quantity{
    width: 20px;
    height: 20px;
}
.checkout-form{
    width: 70vw;
    margin: 0 auto;
    
}
.checkout-form form{
    width: 100%;
    box-shadow: var(--outer-shadow);
    background-color: var(--bg-coler);
    margin-top: 4rem;
    margin-bottom: 2rem;
    padding: 2rem;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
}
.checkout-form form .input-field{
    width: 40%;
    margin: 0 .5rem;
}
.input-field span{
    background-color: var(--bg-coler);
    text-transform: uppercase;
    color: #555;
}
.display-order span{
    font-size: 1rem;
    background-color: #e0e9f0;
    text-transform: uppercase;
    color: #555;
    display: inline-block;
    box-shadow: var(--outer-shadow);
    padding: .4rem;
    margin: .5rem;
    border-radius: 10px;
}
.display-order{
    margin: 0 auto;
    box-shadow: var(--inner-shadow);
    border-radius: 5px;
    text-align: center;
    padding: .9rem 2rem;
}
.display-order .grand-total{
    width: 20%;
    background-color: red;
    color: #fff;
    cursor: pointer;
}
.order-comfirm-container{
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1100;
    background-color: var(--bg-coler);
    width: 100%;
}
.message-container{
    width: 40rem;
    line-height: 2;
    box-shadow: var(--outer-shadow);
    border-radius: 20px;
    padding: 2rem;
    text-align: center;
}
.message-container h3{
    color: orange;
    text-align: center;
    text-transform: uppercase;
}
.order-detail{
    box-shadow: var(--inner-shadow);
    border-radius: 5px;
    padding: 1rem;
    margin: 1rem 0;
}
.order-detail span{
    color: #555;
    border-radius: .5rem;
    box-shadow: var(--outer-shadow);
    font-size: 1.3rem;
    display: inline-block;
    padding: 1rem 1.5rem;
    margin: 1rem;
}
.order-detail .total{
    display: inline-block;
    background-color: red;
    color: #fff;
    text-transform: uppercase;
}
.customer-details{
    text-transform: capitalize;
    font-size: 1.4rem;
}
.customer-details span{
    color: olive;
    font-weight: bold;
}
.pay{
    color: #ffffff;
    margin: 1rem 0;
}
.order-confirm-container .btn{
    padding: .4rem 1rem;
    border-radius: 5px;
}
